*{
    margin:0;
    box-sizing: border-box;
}

.list{
	width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.page{
    padding:20px;
    font-size: 16px;
}

.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.selected{
    background-color:pink;
}
.hidden{
	display:none;
}
.favourite__item{
    font-size:13px;
    width: 100px;
    &-img{
        width: 100px;
    }
}